# handles all cases that covered below
* text=auto

# CRLF -> LF
*.java          text
*.properties    text
*.css           text
*.html          text
*.json          text
*.xml           text
*.sh            text
*.txt           text
*.md            text

*.class         binary
*.jar           binary
*.png           binary
*.ico           binary