# Git & Docker related Stuff
Dockerfile
.gitignore
.dockerignore

# IntelliJ IDEA data is only useful in a development environment
.idea

# Documents
HELP.md
README.md

# Since the container is Linux-based, Windows batch files make no sense to use.
*.cmd
*.bat

# From Jenkins pipeline
../.secrets