# IntelliJ IDEA data is only useful in a development environment
.idea

# No need for Markdown files
HELP.md
README.md

# Since the container is Linux-based, Windows batch files make no sense to use.
*.cmd
*.bat